.tableCurrency, .tableCurrency th{
    border-color: darkblue;

}

.investments, .investments th {
    border-color: crimson;
}

input[type=number] {
    width: 100px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}