#searchMoney, #searchInvest{
    text-align: left;
    width: 100%;
    margin: 10px;
    margin-left: 0;
    border: orange 3px groove;
}

.dimension {
    height: 2rem;
}
#hiddens{
    display:none;
}