body{
    background-color: azure;
    padding:4px;
    font-size: 14px;
}

h1{
    text-align:center;
}

nav {
    text-align: left;
    padding: 5px;
    font-size: 18px;
}

nav a{
    padding: 1px 5px;
}
nav a:hover{
    background-color:aqua;
}

#race{
    display: flex; 
}
#paragraphs {
    margin: -19px 15px;
}
img {
    height: 200px;
    width: auto
}
#container{
    margin: 5px;
}