body{
    width: 85%;
    margin: auto;
}

h1{
    background-color:sandybrown;
}

html{
    background-color:floralwhite;
}

#table, table{
    border: solid 2px sandybrown;
    width: 100%;
}
th {
    border-bottom: dashed sandybrown 3px;
}

td{
    text-align: center;
}