body {
    width: 85%;
    margin: auto;
    background-color: floralwhite;
}

h1 {
    background-color: sandybrown;
    padding: 5px 15px;
    margin: 0;
}

#table, table{
    border: solid 2px sandybrown;
    width: 100%;
}
th {
    border-bottom: dashed sandybrown 3px;
    text-align: left;
    padding: 0 2px;
}

td {
    text-align: left;
    padding: 0 5px;
}

nav{
    background-color: floralwhite;
    padding: 10px 0;
    position:relative;
    left: -15px;
}